{% set p_count=this.sorter.getPageCount() %}
{% set cur_page=this.sorter.getCurPage() %}
<div class='paginator'>
<a href='{{this.sorter.getBaseRef()}}/0/{{this.sorter.getSortOrder()}}' title='Смотреть первую станицу'><<</a>
{% if cur_page<2 %}{% set fr=0 %}{% else %}{% set fr=cur_page-2 %}{% endif %}
{% set to=cur_page %}
{% if to<fr %}{% set to=fr %}{% endif %}
{% for p in fr..to %}
	{% if loop.last %}[{{p}}]{% else %}{{p}}{% endif %}
{% endfor %}
{% set fr=cur_page+1 %}
{% set to=fr+2 %}
{% if fr<p_count %}
	{% if to>=p_count-1 %}{% set to=p_count-1 %}{% endif %}
	{% for p in fr..to %}
		{{p}}
	{% endfor %}
{% endif %}
<a href='{{this.sorter.getBaseRef()}}/{{p_count-1}}/{{this.sorter.getSortOrder()}}' title='Смотреть последнюю станицу'>>></a>
</div>