{% extends "base.twig.html" %}
{% block title %}Добавление товара{% endblock %}
{% block content %}
<h4><a href='/cabinet'>Кабинет</a></h4>
<h2>Товары в магазине</h2>
<h4><a href='/goods/add'>Добавить товар</a></h4>
{% if this.errMsg %}<div class='page_err_msg'>{{this.errMsg}}</div>{% endif %}
<p>Всего товаров {{this.goods_count}}</p>
<table>
<tr>
    <th>Дата</th>
    <th>Наименование</th>
    <th>Цена</th>
    <th>Описание</th>
    <th>Производитель</th>
    <th>Состав</th>
    <th>Ширина</th>
    <th>Фото</th>
    <th></th>
</tr>
{% for good in this.goods %}
<tr>
    <td>{{good.d_date|date("d.m.y")}}</td>
    <td>{{good.name}}</td>
    <td>{{good.price}}</td>
    <td>{{good.descr}}</td>
    <td>{{good.manuf}}</td>
    <td>{{good.consist}}</td>
    <td>{{good.width}}</td>
    <td><img src='/fotos/mini/{{good.foto}}' alt='Фото товара'></td>
    <td><a href='/goods/edit/{{good.slug}}'>изменить</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}