{% extends"admin/base.twig.html" %}
{% block content %}
<h3>Запросы на открытие магазина.</h3>
<p>Всего заявок {{this.requsts_count}}</p>
<table>
<tr>
    <th>Пользователь</th>
    <th>дата подачи</th>
    <th>Состояние</th>
    <th></th>
</tr>
{% for req in this.requests %}
<tr>
    <td>{{req.name}}</td>
    <td>{{req. reg_time|date("d.m.Y")}}</td>
    <td>{% if req.reject_reason %}Отклонена: {{req.reject_reason}}{% else %}на рассмотрении{% endif %}</td>
    <td><a href='/admin/edit_request/{{req.id}}'>рассмотреть</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}