<h2>Личные данные пользователя {{user.name}}</h2>
<form class='profile' method='post'>
	<p>e-mail: {{user.mail}}</p>
	<label class='{{classes.alt_mail}}' for='alt_mail'>запасной e-mail<input type='text' name='alt_mail' value='{{fields.alt_mail}}'></label>
	<label class='{{classes.name}}' for='name'>Имя<input type='text' name='name' value='{{fields.name}}'></label>
	<label class='{{classes.gender}}'>Пол
		<label>
			<input id='male' type='radio' name='gender' value='0'
				{% if fields.gender==0 %}
					checked
				{% endif %}>мужской
		</label>
		<label>
			<input id='female' type='radio' name='gender' value='1'
				{% if fields.gender==1 %}
					checked
				{% endif %}>женский
		</label>
	</label>
	<label class='{{classes.mobile}}' for='mobile'>Мобильный телефон<input type='text' name='mobile' value='{{fields.mobile}}'></label>
	<label class='{{classes.tel}}' for='tel'>Рабочий телефон<input type='text' name='tel' value='{{fields.tel}}'></label>
	<label class='{{classes.fax}}' for='fax'>Факс<input type='text' name='fax' value='{{fields.fax}}'></label>
	<label class='{{classes.zip}}' for='zip'>Почтовый индекс<input type='text' name='zip' value='{{fields.zip}}'></label>
	<label class='{{classes.tel}}' for='street'>Улица<input type='text' name='street' value='{{fields.street}}'></label>
	<label class='{{classes.street}}' for='city'>Город<input type='text' name='city' value='{{fields.city}}'></label>
	<label class='{{classes.country}}' for='country'>Страна<select name='country'>
		{% for key,country in countries %}
			<option
			{% if key==fields.country %}
				selected
			{% endif %}>{{country}}</option>
		{% endfor %}
		</select>
	</label>
	<label class='{{classes.job_title}}' for='job_title'>Занимаемая должность<input type='text' name='job_title' value='{{fields.job_title}}'></label>
	<button name='profile'>Сохранить</button>
</form>