<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" ></meta>
	<title>{% block title %}{% endblock %} - Ткани</title>
	<link rel="icon" href="favicon.png" type="image/png">
	<link rel="shortcut icon" href="favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
<a href='/'>Home</a>
{% block content %}{% endblock %}
</body>
</html>