<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" ></meta>
	<title>{% block title %}{% endblock %} - Ткани</title>
	<link rel="icon" href="favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
<header>
    <a href='/' title='На главную'>Home</a>
    {% block header %}{% endblock %}
</header>
<content>
    {% block content %}{% endblock %}
</content>
<footer>
    {% block footer %}{% endblock %}
    <div class='astarsy'><a href='astarsu.ru' title='Сайт разработчика'>Astarsy.ru 2015-{{ date()|date("Y") }}</a></div>
</footer>
</body>
</html>