<form class='register' method='post'>
	<div class='{{classes.mail}}'>
		<label for='mail'>e-mail</label>
		<input type='text' name='mail'  value='{{fields.mail}}'>
		{% if msgs.mail %}
		<div class='msg'>{{msgs.mail}}</div>
		{% endif %}
	</div>
	<div class='{{classes.password}}'>
		<label for='password'>пароль</label>
		<input type='password' name='password'>
	</div>
	<div class='{{classes.password}}'>
		<label for='password2'>повторите пароль</label>
		<input type='password' name='password2'>
	</div>
	<div class='{{classes.alt_mail}}'>
		<label for='alt_mail'>запасной e-mail</label>
		<input type='text' name='alt_mail' value='{{fields.alt_mail}}'>
		{% if msgs.alt_mail %}
		<div class='msg'>{{msgs.alt_mail}}</div>
		{% endif %}
	</div>
	<div class='{{classes.name}}'>
		<label for='name'>Имя</label>
		<input type='text' name='name' value='{{fields.name}}'>
	</div>
	<div class='{{classes.gender}}'>
		<label>Пол</label>
		<label>
			<input id='male' type='radio' name='gender' value='0'
				{% if fields.gender==0 %}
					checked
				{% endif %}>мужской
		</label>
		<label>
			<input id='female' type='radio' name='gender' value='1'
				{% if fields.gender==1 %}
					checked
				{% endif %}>женский
		</label>
	</div>
	<div class='{{classes.mobile}}'>
		<label for='mobile'>Мобильный телефон</label>
		<input type='text' name='mobile' value='{{fields.mobile}}'>
	</div>
	<div class='{{classes.tel}}'>
		<label for='tel'>Рабочий телефон</label>
		<input type='text' name='tel' value='{{fields.tel}}'>
	</div>
	<div class='{{classes.fax}}'>
		<label for='fax'>Факс</label>
		<input type='text' name='fax' value='{{fields.fax}}'>
	</div>
	<div class='{{classes.zip}}'>
		<label for='zip'>Почтовый индекс</label>
		<input type='text' name='zip' value='{{fields.zip}}'>
	</div>
	<div class='{{classes.tel}}'>
		<label for='street'>Улица</label>
		<input type='text' name='street' value='{{fields.street}}'>
	</div>
	<div class='{{classes.street}}'>
		<label for='city'>Город</label>
		<input type='text' name='city' value='{{fields.city}}'>
	</div>
	<div class='{{classes.country}}'>
		<label for='country'>Страна</label>
		<select name='country'>
		{% for country in countries %}
			<option
			{% if country==fields.country %}
				selected
			{% endif %}>{{country}}</option>
		{% endfor %}
		</select>
	</div>
	<div class='{{classes.job_title}}'>
		<label for='job_title'>Занимаемая должность</label>
		<input type='text' name='job_title' value='{{fields.job_title}}'>
	</div>
	<div>
		<button name='register'>Зарегистрировать</button>
	</div>
</form>